Source: xdg-desktop-portal-dde
Section: libdevel
Priority: optional
Maintainer: Deepin Packages Builder <packages@deepin.com>
Build-Depends:
              cmake (>= 3.0~),
              dbus-x11,
              debhelper (>= 11~),
              extra-cmake-modules (>= 5.50.0~),
              libkf5coreaddons-dev (>= 5.50.0~),
              libkf5i18n-dev (>= 5.50.0~),
              libkf5notifications-dev (>= 5.50.0~),
              libkf5wayland-dev (>= 4:5.50.0~),
              libkf5widgetsaddons-dev (>= 5.50.0~),
              libkf5windowsystem-dev (>= 5.50.0~),
              pkg-kde-tools (>= 0.15.18~),
              qtbase5-dev (>= 5.11.0~),
              qtbase5-private-dev,
              libglib2.0-dev,
              libpipewire-0.2-dev,
              libgbm-dev,
              libepoxy-dev
Standards-Version: 4.5.0

Package: xdg-desktop-portal-dde
Architecture: any
Depends: 
  ${shlibs:Depends}, 
  ${misc:Depends}
Description: Dtk poortal backend for xdg-desktop-portal
  xdg-desktop-portal-dde provide a DTK implementation for the
  desktop-agnostic xdg-desktop-portal service. This allows sandboxed
  applications to request services from outside the sandbox using
  Dtk GUIs (app chooser, file chooser, print dialog) or using GNOME
  services (session manager, screenshot provider).
